
#projects{font-family: "Futura";}
#projects{color:#E3262A;}
#projects{font-weight:bold;}

body{background-color: #FFA89D;}
body{font-family:"Futura";}
body{color: #E3262A;}
body{line-height: 5px;}

h1{color:#E3262A;}
h1{font-family: "Windsor";}
h1{letter-spacing: 7px;}
h1{font-size: 60px;}
h1{line-height: 10px;}

#subtitle{font-style: italic;}
#subtitle{font-size: 55px;}


a{color:#E3262A;}
a{font-size: 12px; }