
#projects{font-family: "Futura"; color:#E3262A;
			font-weight: bold;}

body{
	background-color: #FFA89D;
	font-family: "Futura"; 
	color:#E3262A; 
	line-height: 5px;}


h1{color:#E3262A;font-family: "Windsor"; 
letter-spacing: 7px; 
font-size: 60px;
 line-height: 10px;}


.subtitle{font-style: italic;
font-size: 55px;}



a{color:#E3262A;
	font-size: 12px;} 